.appbar{
    border-style: solid;
    border-width: 0.25px;
    border-color:grey;
}
.appbarElements{
    display: flex;
    margin: 2vh 3vw;
    justify-content: flex-start;
    align-items: center;
}
p{
    margin-left: 1.5vw;
    font-weight: bold;
}

i:hover{
    cursor: pointer;
}