.card{
    border: 1px solid grey;
    border-radius: 10px;
    width: 80%;
    height: 35%;
    margin-bottom: 2.5%;
    padding: 2.5%;
    display: flex;
    flex-direction: column;

}

.cardHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5%;

    
}
.description{
    margin-bottom: 5%;

}

.bottom{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5%;
}
