.card{
    border: 1px solid grey;
    border-radius: 10px;
    width: 20vw;
    height: fit-content;
    margin-bottom: 2vh;
    padding: 2.5vh;
    display: flex;
    flex-direction: column;
    vertical-align: auto;

}

.cardHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: auto;

    
}
.description{
    margin-top: 2.5vh;
    margin-bottom: auto;

}

.bottom{
    padding: 2vh;
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-between;

    
   
}
